<<<<<<< HEAD
.common-button {
  /* display: flex;
  flex-flow: row nowrap; */
  width: 335px;
  height: 50px;
  margin-top: 4px;
  background: #000;
  border-radius: 12px;
  margin: 0 auto;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.spanSvgIcon {
  margin-right: 13px;
}
=======
/*.email-button {
    width: 335px;
    height: 50px;
    margin-top: 4px;
    background: #414141;
    border-radius: 12px;
    color: white;
    margin: 0 auto;
}*/
>>>>>>> ff20557457969908ae1734064a0ed035771a93fe
