.profileButton {
    float: left;
}

.iconQuestion {
    height: 20px;
    float: right;
}

.divProfile {
    height: 80px;
    margin: 10px;
}

.profileMessage {
    text-align: right;
    margin: 10px;
}

.divInputQuestion {
    margin: 10px;
}

.inputNewQuestion {
    width: 90%;
    border: none;
    border-bottom: 2px dotted rgb(105, 101, 101);
    text-align: right;
}