.openingText{
    margin: 20px;

}
.questionDetails{
    background-color: #F3F3F3;
    padding: 20px;
    margin: 20px;
}
.imgSender{
    border-radius: 50%;
    height: 50px;
    border-right: groove;
}
.inquiryTitle{ 
    margin-top: 10px;

}
.inquiryText{
    margin-top: 10px;
    margin-bottom: 10px;
}
.question{
    color: #606060;
}
.anser{
    color:#101010;
}