.hashtag {
  padding: 4px 12px;
  text-align: center;
  display: flex;

  background: var(--light-grey);
  border-radius: 40px;

  flex: none;
  order: 7;
  flex-grow: 0;
  margin: 10px 10px;
  cursor: pointer;
}

.hashtag.active {
  background: #606060;
}
