.inputNewQuestion {
  width: 95%;
  height: 50px;
  text-align: right;
  border: none;
  background: #f8f8fa;
  border-radius: 10px;
  font-family: HEEBO;
  color: #878794;
  font-size: 16px;
  padding: 8px 10px 12px 19px;
  margin-top: 10px;
}

.inputContainer {
  width: 100%;
  font-family: HEEBO;
}
.greenArrow {
  margin-top: 15px;
}
.buttonPlaceHolder {
  font-family: HEEBO;
  color: #878794;
  font-size: 16px;
  margin: inherit;
}
