.inquiryBox {
  margin: auto;
  background: #ffffff;
  border-radius: 4px;
  margin: 10px;
}

.inquiryTitle {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #414141;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2px 10px;
}

.timePassed {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.01em;
  color: #b5b5b5;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 2px 10px;
}

.statusMessage {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.01em;
  color: #414141;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.nextStepButton {
  background: #414141;
  border-radius: 4px;
  /* Inside Auto Layout */

  margin: 8px 10px;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.01em;
  color: #ffffff;
}
