.imgAvatar {
<<<<<<< HEAD
  border-radius: 50%;
  width: 70px;
  float: right;
  margin: 10px;
}
=======
    border-radius: 50%;
    height: 70px;
    width: 70px;
    float: right;
    margin: 10px;
}
>>>>>>> a9df9e1ddf6707f9fedfbbffefa514e422d0c442
